@import "./variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Fredoka:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}
.btn-custom {   
    @extend .btn-primary;
    color: $tertiary;
    background-color: $complimentary;
    transition: 0.3s;
    box-shadow: 2px 3px 0px 0px rgba(0, 0, 0, 0.25);
    width: 60px;
    height: 35px;
    border: none;
    &:hover {
    background-color: $white;
    }
    &-follow {
        color: $tertiary;
        width: 52px;
        height: 52px;
        transition: 0.3s;
        background-color: $complimentary;
        box-shadow: 2px 3px 0px 0px rgba(0, 0, 0, 0.25);
        &:hover {
            background-color: $white;
        }
    }
    &-new-post {
        background-color: $complimentary;
        color: $tertiary;
        width: 170px;
        height: 60px;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 0.6rem;
        font-weight: 600;;
        box-shadow: 2px 3px 0px 0px rgba(0, 0, 0, 0.25);
    }
    &-discover {
        background-color: $white;
        color: $secondary;
        width: 170px;
        height: 60px;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 0.6rem;
        font-weight: 600;;
        box-shadow: 2px 3px 0px 0px rgba(0, 0, 0, 0.25);
    }
    &-settings {
        background-color: $tertiary;
        color: $secondary;
        width: 50px;
        height: 60px;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 0.6rem;
        font-weight: 600;;
        box-shadow: 2px 3px 0px 0px rgba(0, 0, 0, 0.25);
    }
}
.btn:hover {
    border: 2px solid $complimentary;
    background-color: white;
}
.font-normal {
  font-family: $font-family-base;
}
.identifier {
  font-size: 0.7rem;
  font-weight: 300;
}
.icon {
    width: 30px;
    height: 30px;
}
.slider-image-element {
  box-shadow: 2px 3px 0px 0px rgba(0, 0, 0, 0.25);
}
.count {
  font-weight: 400;
  font-size: 1rem;
}
.hamburger {
    display: flex;
    align-items: end;
    justify-content: end;
    flex-direction: column;
    position: absolute;
    width: 90%;
    height: 2rem;
    gap: 0.5rem;
    z-index: 5;
    box-shadow: none;
  }
.ham-bar {
    box-shadow: none;
}
.navbar-toggler {
    color: transparent;
    
}
.navBg .nav-active {
   background-color: $navBg; 
}
.navbar-nav {
    width: 100vw;
    height: 100vh;
    top:0;
    position: fixed;
    left:0;
    background-color: $secondary;
    z-index: 3;
}
.navbar-nav li a{
    color: $complimentary;
}

#searchInput {
    display: none;
    transition: 0.3s;
}
.ham-bar {
    display: block;
    width: 1.5rem;
    height: 0.3rem;
    background-color: $secondary;
    transition: 0.3s ease-in-out;
  }
  .ham-bar:nth-of-type(2) {
    width: 1.5rem;
  }
 .bar-top {
    width: 2rem;
    height: 0.35rem;
  }
 .bar-bottom {
    width: 1rem;
    background-color: $complimentary;
  }
 .bar-mid {
    width: 1.6rem;
  }
h3 {
    font-family: $font-family-monospace;
}
.gray-font {
    color: $light-bg-subtle;
}
.logo-container {
    min-width: 170px;
    max-width: 500px;
}
.art-vector-container {
    max-width: 500px;
}

.btn-custom-secondary {   
    @extend .btn-custom;
    background-color: $tertiary;
    transition: 0.3s;
    box-shadow: 2px 3px 0px 0px rgba(0, 0, 0, 0.25);
}
.credit-text {
    font-size: $sub-sup-font-size;
}
.input-group-custom {
    @extend .input-group;
    font-family: $font-family-base;
    font-size: $font-size-sm;
    font-weight: $font-weight-semibold;
    height: 40px;
    width: 100%;
    border: 2px solid white;
    padding-left: 0.5rem;
    border-radius: 5px;
    &::placeholder, :active, :focus {
        color: #888585;
    }
} 
form {
    max-width: 300px
}
.line {
    height: 300px;
    width: 2px;
    color: $secondary;
    background-color: $secondary
}
.invalid-feedback-custom {
    @extend .invalid-feedback;
    position: absolute;
    z-index: 3;
    top: 2.5rem;
    font-size: 0.8rem;
    
}
#response {
    word-break:keep-all;
    text-align: center;
    font-size: 0.75rem;
    width: 100vw;
    left: -50%;
}
.custom-height {
    display: hidden !important;
    min-height: 20px;
}
span {
    border-radius: 5px;
}
.form-control {
    border-radius: 5px;
    &:focus {
        border: 1px solid $complimentary;
    }
}

.profile-image-element {
    width: 160px;
    height: 160px;
    box-shadow: 2px 3px 0px 0px rgba(0, 0, 0, 0.25);
}
  

.navbar-nav {
    width: 100vw;
    height: 100vh;
    top:0;
    position: fixed;
    left:0;
    background-color: $secondary;
    z-index: 3;
}
.slider-image-container:hover {
filter: opacity(0.9);
}
  
@media only screen and (min-width: 992px) {
    .navbar-nav {
        font-weight: 600;
        font-size: 1rem;
        width: 100vw;
        height: 80px;
        position: sticky;
        color: $tertiary;
        z-index: 0;
        margin-top: -1rem;
        gap: 2rem;
        margin-left: 5rem;
    }
    .circle-container {
       z-index: 5;
       width: 20%;
    }
    .img-logo {
        z-index: 6;
    }
    .slider-container-desktop {
        display: flex;
        flex-direction: row;
    }
    .navbar-nav li a {
        color: $tertiary;
        font-weight: 300;
        font-size: 0.9rem;
    }
     .nav-item .active {
        font-weight: 600;
    }
    .nav-item:hover {
        color: $complimentary;
    }
  }